<nav class="navbar">
  <a href="{{ '/' | relative_url }}" class="nav-link nav-home">Home</a>
  <a href="{{ '/features/' | relative_url }}" class="nav-link">Features</a>
  <a href="{{ '/community/' | relative_url }}" class="nav-link">Community</a>
  <a href="{{ '/contact/' | relative_url }}" class="nav-link">Contact</a>

  <span class="nav-separator">|</span>

  <a href="https://github.com/JIWONJJJ/Sentinema" class="nav-link nav-accent">
    GitHub
  </a>

  <a href="https://discord.gg/4KzwTUeYGS" class="nav-link nav-accent">
    Forum
  </a>

  <a href="https://sentinema.readthedocs.io/en/latest/" class="nav-link nav-accent">
    Docs
  </a>
</nav>
